* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background-color: #111;
  color: #fff;
}

header {
  background-color: #000;
  padding: 20px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu-btn {
  display: none;
  background: none;
  border: none;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
}

@media (max-width: 768px) {

  nav {
    flex-wrap: wrap;
  }

  nav ul {
    display: none;
    width: 100%;
    flex-direction: column;
    margin-top: 20px;
    gap: 15px;
    align-items: center;
  }

  nav ul.ativo {
    display: flex;
  }

  .menu-btn {
    display: block;
    margin-left: auto;
  }

  nav .btn-agendar {
    display: none;
  }

  nav h1 {
    font-size: 1.2rem;
  }
}
